    @import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
    @import url(https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js);
    @import url(https://fonts.googleapis.com/css2?family=Cookie&display=swap);
    .social-container {
        text-align: center;
        position: relative;
    }
    
    .social-reach {
        position: absolute;
        font-family: Conv_SamarkanNormal-RXGE;
        font-size: 4rem;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
        left: 10%;
        top: 5%;
        /* line-height: 23px; */
        color: -webkit-linear-gradient(45deg, #9e9027, #e6cb00);
        color: goldenrod;
        animation: list-animation 1s;
        animation-play-state: paused;
        animation-timing-function: linear;
    }
    
    @font-face {
        font-family: 'Conv_SamarkanNormal-RXGE';
        src: local('â˜º'), url('fonts/SamarkanNormal-RXGE.woff') format('woff'), url('fonts/SamarkanNormal-RXGE.ttf') format('truetype'), url('fonts/SamarkanNormal-RXGE.svg') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    
    span.play {
        animation-play-state: running;
    }
    
    li.play {
        animation-play-state: running;
    }
    
    .social-icons {
        list-style: none;
        left: 7%;
        position: absolute;
        /* margin: 1em; */
    }
    
    .social-icons li {
        padding-bottom: 1%;
        display: block;
        margin: 0.15em;
        position: relative;
        font-size: 1.2em;
    }
    
    .social-icons i {
        color: #000;
        position: absolute;
        top: 21px;
        left: 21px;
        transition: all 1s ease-out;
    }
    
    .social-icons a {
        display: block;
    }
    
    .social-icons a:before {
        transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        content: " ";
        width: 60px;
        height: 60px;
        border-radius: 100%;
        display: block;
        background: linear-gradient(45deg, #9e9027, #e6cb00);
        transition: all 1s ease-out;
    }
    
    .social-icons a:hover:before {
        transform: scale(0);
        transition: all 1ms ease-in;
    }
    
    .social-icons a:hover i {
        transform: scale(3.2);
        -ms-transform: scale(2.2);
        -webkit-transform: scale(2.2);
        color: #000;
        background: -webkit-linear-gradient(45deg, #dfdedb, #b1b0a8);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 265ms ease-in;
        /* -webkit-transform: translate(110px, 0);
        -moz-transform: translate(110px, 0);
        -ms-transform: translate(110px, 0);
        -o-transform: translate(110px, 0);
        transform: translate(110px, 0);
        background: goldenrod; */
    }
    /* .social-icons li.instagram a:hover i {
        color: #000;
        background: indianred;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 265ms ease-in;
    }
    
    .social-icons li.facebook a:hover i {
        color: #000;
        background: #4267B2;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 265ms ease-in;
    }
    
    .social-icons li.pinterest a:hover i {
        color: #000;
        background: #E60023;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 265ms ease-in;
    }
    
    .social-icons li.linkedin a:hover i {
        color: #000;
        background: #4267B2;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 265ms ease-in;
    }
    
    .social-icons li.mail a:hover i {
        color: #000;
        background: #BB001B;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 265ms ease-in;
    } */
    /* .social-icons ul li:hover {
        -webkit-transform: translate(10px, 0);
        -moz-transform: translate(10px, 0);
        -ms-transform: translate(10px, 0);
        -o-transform: translate(10px, 0);
        transform: translate(10px, 0);
        background: rgba(255, 255, 255, 0.4);
    } */
    
    li {
        /* display: block; */
        padding-top: 15%;
        padding-bottom: 15%;
        animation: list-animation 2s;
        animation-play-state: paused;
        animation-timing-function: linear;
    }
    
    a {
        position: relative;
        z-index: 10;
    }
    
    .pc-video {
        /* position: absolute; */
        width: 100%;
    }
    
    @keyframes list-animation {
        0% {
            opacity: 0;
        }
        30% {
            opacity: 0.2;
        }
        49% {
            opacity: 0.5;
        }
        50% {
            opacity: 0.7;
        }
        99% {
            opacity: 0.9;
        }
        100% {
            opacity: 1;
        }
    }
    
    @media only screen and (orientation:portrait) and (max-device-width: 1024px) {
        .social-container {
            display: none;
        }
        .rotateScreen {
            display: block;
        }
        /* img {
        height: auto;
        width: 30%;
    } */
    }
    
    @media screen and (min-width: 600px) {
        .social-container {
            display: block;
        }
        .rotateScreen {
            display: none;
        }
        .social-icons {
            padding-top: 10%;
        }
        .social-icons li {
            padding: 30%
        }
        .social-reach {
            font-size: 1.6rem;
        }
    }
    
    html {
        display: flex;
        justify-content: center;
    }
    
    #btn {
        background: transparent;
        height: 50px;
        width: 50px;
        min-width: 150px;
        border: none;
        border-radius: 10px;
        color: goldenrod;
        font-size: 40px;
        font-family: "Cookie", cursive;
        position: relative;
        transition: 1s;
        -webkit-tap-highlight-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding-top: 5px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    
    #play-link {
        color: goldenrod;
    }
    
    #btn #circle {
        width: 5px;
        height: 5px;
        background: transparent;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 50%;
        overflow: hidden;
        transition: 500ms;
    }
    
    .noselect {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    #btn:hover {
        background: transparent;
        text-decoration: none;
    }
    
    #btn:hover #circle {
        height: 50px;
        width: 150px;
        left: 0;
        border-radius: 0;
        border-bottom: 2px solid goldenrod;
        text-decoration: none;
    }
    /*  */
    
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    /*  */
    /*  */
    /*  */
    /* ul li.facebook {
        background: #3b5998;
    }
    
    ul li.twitter {
        background: #00aced;
    }
    
    ul li.instagram {
        background: #bc2a8d;
    }
    
    ul li.google {
        background: #dd4b39;
    }
    
    ul li.whatsapp {
        background: #4dc247;
    } */
    
    ul li.facebook div.slider {
        background: #4267B2;
    }
    
    ul li.pinterest div.slider {
        background: #E60023;
    }
    
    ul li.instagram div.slider {
        background: #8a3ab9;
    }
    
    ul li.mail div.slider {
        background: #BB001B;
    }
    
    ul li.linkedin div.slider {
        background: #0077b5;
    }
    
    .slider {
        content: "";
        position: absolute;
        top: 10px;
        left: 51px;
        width: 0px;
        height: 40px;
        background: #eebb5c;
        border-radius: 17px;
        transition: all 0.5s 0.3s ease;
    }
    
    .slider p {
        font-family: arial;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 900;
        color: #fff;
        text-align: center;
        line-height: 40px;
        opacity: 0;
        transition: all 0.6s ease;
    }
    
    ul li:hover .slider {
        width: 180px;
        transition: all 0.5s ease;
    }
    
    ul li:hover .slider p {
        opacity: 1;
        transition: all 1s 0.2s ease;
    }